<form class="form-group">
    <input class="form-control" type="file" name="file" id="file">
    <input class="form-control" type="text" name="txt" id="txt">
    <input class="btn btn-success" type="button" value="<%= btn %>" id="submit">
</form>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>

<script>

    $(function () {
        var app = {
            init: function () {
                console.log("init.....");
                this.render();
                this.bind();
            },
            render: function () {
                this.$file = $("#file");
                this.$txt = $("#txt");
                this.$submit = $("#submit");
            },
            bind: function () {
                this.$submit.on("click", $.proxy(this._go, { name: 111, age: 23 }))
            },
            _go: function (e) {
                $.ajax({
                    url: "/list",
                    method: "post",
                    data: {
                        file: $("#file").val(),
                        txt: $("#txt").val()
                    }
                })
                    .done(data => {
                        console.log(data);
                    })
                    .fail(err => {
                        console.log(err);
                    })
            }
        }

        app.init();

    })
</script>